<div class="post-copyright">
  <div class="alert" role="alert">
    本文作者：<a href="<%= theme.github %>" target="_blank"><%= config.author %></a><br>
    本文采用 <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/" rel="external nofollow">知识共享署名 4.0</a> 协议进行许可。<br>
    可自由转载、引用，但需署名作者且注明文章出处。
  </div>
</div>
