<footer id="footer" class="container" style="display:none;">
  <hr>
  <p>&copy; <%= date(new Date(), 'YYYY') %> <a href="<%= config.url %>"><%= config.title %></a>.
  Using <a target="_blank" href="https://hexo.io/">Hexo</a> & <a target="_blank" href="https://github.com/Anapopo/Moricolor-for-Hexo/">Moricolor</a>
  / <a href="/atom.xml">RSS</a>
  </p>
</footer>

<!-- Hitokoto -->
<% if (is_home() && theme.bottomtools.hitokoto) { %>
  <script>
    (function(){
      fetch('https://api.lwl12.com/hitokoto/main/get')
        .then(res => res.text())
        .then(hitokoto => {
          console.log(hitokoto)
          document.querySelector('#hitokoto').innerHTML = `<p>Hitokoto&nbsp; · &nbsp;&nbsp;${hitokoto}</p>`
        })
    })()
  </script>
<% } %>

<!-- Load other scripts -->
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>
<script src="/js/text-autospace.min.js"></script>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
  $("#main-posts").fadeIn(800);
  $("#main-archive").fadeIn(800);
  $("#main-tag").fadeIn(800);
  $("#main-post").fadeIn(500);
  $(".post-nav").fadeIn(800);
  $("#main-page").fadeIn(500);
  $("#pagenav").fadeIn(800);
  $("#main-bottom").fadeIn(1200);
  $("#comments").fadeIn(1000);
  $("#footer").fadeIn(1200);

  document.querySelectorAll('.post-content figure.highlight pre').forEach(e=>{
    let lines = e.querySelectorAll('.line')
    let widths = new Set()
    lines.forEach(line=>widths.add(line.scrollWidth))
    let max = Math.max(...widths)
    lines.forEach(line => { line.style.width = max + 'px' })
  })
  // 获取代码块内容
  document.querySelectorAll('.post-content figure.highlight .tools').forEach(e=>{
    e.onclick = function() {
      console.log(e.previousSibling.innerText.replace(/(\n[\s\t]*\r*\n)/g, '\n').replace(/^[\n\r\n\t]*|[\n\r\n\t]*$/g, ''))
    }
  })

  })
  $("#comment_go").click(function(){
    $("#comments").fadeIn(1000);
  });

  $('[data-toggle=tooltip]').tooltip();
  $("#outcomment").click(function(){
    $("#comments").fadeIn(1000);
  });
</script>
