<% if(!is_post()) { %>
<header class="container">
  <a href="<%= config.url %>">
    <h1 style="color: #34495e;"><%= config.title %></h1>
  </a>
  <p class="description"><%= config.description %></p>
  <hr>
</header>
<% } %>
