<!DOCTYPE html>
<html class="han-la">
  <%- partial('_partial/head') %>
<body>
  <%- partial('header') %>
  <%- body %>
  <%- partial('footer') %>
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://localhost:3000/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>");
//]]></script>
</body>
</html>
