/* Text AutoSpace https://github.com/mastermay/text-autospace.js */
html.han-la hanla:after {
  content: " ";
  display: inline;
  font-family: Arial;
  font-size: 0.89em;
}
html.han-la pre hanla,
html.han-la kbd hanla,
html.han-la code hanla,
html.han-la samp hanla {
  display: none;
}
html.han-la ol > hanla,
html.han-la ul > hanla {
  display: none;
}
/* ruby 样式来自于 https://github.com/journey-ad/MDRuby-Typecho-Plugin/ */
ruby {
  background-color: rgba(146, 185, 204, 0.2);
  margin: 4px;
  padding: 0 2px;
  border-radius: 4px;
}
ruby > rt {
  font-style: italic;
  color: #6a8998;
  margin-right: 2px;
  font-weight: 400;
  font-size: 1rem;
}
hr { border-top: 1px dashed #cfd8dc7a !important; }
html {
  font-size: 11px;
}
/* body 样式来自于 https://imjad.cn/ */
/* 字体样式来自于 https://csspod.com/using-the-system-font-in-web-content/ */
body {
  font-size: 1.7rem;
  color: #606975;
  font-family:
    system, -apple-system, BlinkMacSystemFont,
    "PingFang SC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  transition: background-color .8s ease-in-out;
}
/* 灰度背景样式来自于 https://imjad.cn/ */
main::after {
  background-image: url(/img/desktop/kyoko.png);
}
main::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.025;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
       -o-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: gray;
}
footer {
  clear: both;
  background-color: transparent;
  text-align: center;
  padding-bottom: 9px;
}
/* The 'target="_blank"' link use alias cursor */
a[target="_blank"],
a[target="_blank"] img {
  cursor: alias;
}
#main-posts article a {
  font-weight: 400;
}
.post-nav {
  text-align: center;
  margin: 0 auto;
}
h4.index-topic {
  font-size: 2rem;
}
/* ellip */
.ellip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bottom-tools {
  margin-left: 10px;
  margin-bottom: 15px;
  padding-left: 40px;
}
.bottom-tools p {
  margin: 0;
  font-size: 90%;
  line-height: 2.067;
}
.bottom-tools a {
  color: rgb(154, 164, 175);
  font-weight: 400;
}
.bottom-tools a:hover {
  color: #1abc9c;
}
/* PostTor CSS */
.post-tor {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.post-tor-content {
  width: 100%;
  min-width: 15rem;
  padding-top: 2rem;
  height: fit-content;
  display: block;
  font-size: 1rem;
  color: rgb(96, 105, 117);
  border-radius: 2px;
  background-color: rgba(238, 238, 238, 0.5);
  box-shadow: 0 1px 2px 0 rgba(221, 221, 221, 0.8);
}
.post-tor-content::after {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "文章目录";
  display: block;
  color: #b1b1b1;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  height: 2em;
  padding: 2px 8px;
  background-color: rgba(224, 224, 224, 0.5);
}

.post-tor-content p {
  padding: 0 8px;
  margin-top: 15px;
  font-size: inherit;
}
.torarc-tile {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding: 6px;
}
.tori {
  font-weight: bold;
  color: #34495e;
}
.torii {
  font-weight: bold;
  margin-left: .5rem;
  color: #5f5f5f;
}
.toriii {
  margin-left: 1rem;
  color: #5f5f5f;
  font-weight: 700;
}
.toriiii {
  margin-left: 1.5rem;
}
.toriiii::before {
  font-family: 'Material-Design-Iconic-Font';
  color:#16a085;
  margin-right: 4px;
  content: "#";
}
.toriiiii {
  margin-left: 2rem;
}
.toriiiii::before {
  color:#546e7a;
  font-family: 'Material-Design-Iconic-Font';
  margin-right: 5px;
  content: "\f184";
}
/* end */
.cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3em;
  height: 50vw;
  width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100vw;
}

.post {
  padding: 12px;
  padding-top: 20px;
}
.post-headline {
  font-size: 4rem;
  line-height: 6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.post-text-bar {
  color: #34495e;
  margin-top: -6px;
  font-size: 22px;
}
.post-text-bar a {
  color: #34495e;
  letter-spacing: 10px;
}
.post-text-bar a:hover,
.post-text-bar a:visited,
.post-text-bar a:focus {
  color: #34495e;
}
.post-content {
  margin-bottom: 2em;
}
.post-content > ul {
  padding: 0;
}
.post-content p,
.post-content li {
  font-size: 1.7rem;
  letter-spacing: .6px;
  text-align: justify;
}
.post-content p a[target="_blank"]::before,
.post-content li a[target="_blank"]::before {
  font-family: 'Flat-UI-Icons';
  font-size: 1.5rem;
  color: #95A5A6;
  margin-right: .5rem;
  content: "\e63c";
}
.post-content p a[target="_blank"]::before {
  margin-left: .5rem;
}
.post-content a {
  color: #16a085;
  font-weight: 400;
}
.post-content a:hover{
  color: #bcaaa4;
}
.post-content figcaption {
  text-align: center;
  color: #999;
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 300;
}
.post-content h1 {
  font-size: 2.4em;
  margin-left: -1px;
}
.post-content h2 {
  font-size: 1.8em;
  margin-left: -1px;
}
.post-content h3 {
  font-size: 1.6em;
  margin-left: -1px;
}
.post-content h4,
.post-content h5 {
  font-size: 1.1em;
  color:#546e7a;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: -.5em;
}
.post-content h4::before {
  margin-right: 6px;
  content: "#"; 
  color: #16a085;
}
.post-content h5::before {
  color:#546e7a;
  font-family: 'Material-Design-Iconic-Font';
  margin-right: 5px;
  content: "\f184";
}
.post-content h6 {
  color:#78909c;
  font-weight: normal;
  font-size: 1em;
  font-weight: 300;
  margin-left: -2px;
}
/* Table 样式来自于 Bootstrap */
.post-content > table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.7rem;
  font-weight: 400;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  background-color: rgba(238, 238, 238, 0.5);
  box-shadow: 1px 2px 3px rgba(221, 221, 221, 0.8);
  display: block;
  color: #999;
  margin-bottom: 1rem;
}
.post-content > table th,
.post-content > table td {
  padding: .7rem;
  vertical-align: top;
}
.post-content > table td:nth-child(n+2),
.post-content > table th:nth-child(n+2){
  border-left: 1px solid #dee2e6;
}
.post-content > table tbody tr {
  border-top: 1px solid #dee2e6;
}
.post-content > table tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.post-content ul li{
  text-indent: 0;
  list-style: square;
  margin-left: 2rem;
}
.post-content ol {
  padding-left: 1rem;
}
.post-content ol li {
  text-indent: 0;
  margin-left: 11px;
}
.post-content ol li::before{
  margin-right: 4px;
}
.post-content blockquote {
  position: relative;
  background-color: transparent;
  border-radius: 2px;
  border-left: 0;
  margin: 0 0 10px;
  padding: 8px 12px;
  padding-left: 30px;
  padding-bottom: 18px;
  margin-bottom: 30px;
}
.post-content blockquote p {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  text-indent: 0;
  margin: 6px 0 5px 0;
  padding: 0;
}
.post-content blockquote pre {
  background-color: inherit;
}
.post-content blockquote::before {
  font-family: 'Material-Design-Iconic-Font';
  color: rgba(224, 224, 224, 0.5);
  content: "\f1b2";
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 2em;
  position: absolute;
  left: 8px;
  top: 12px;
  line-height: .1em;
}

.post-content blockquote::after {
  font-family: 'Material-Design-Iconic-Font';
  color: rgba(224, 224, 224, 0.5);
  content: "\f1b2";
  font-size: 5em;
  position: absolute;
  right: 8px;
  bottom: 0px;
  line-height: .1em;
}
.post-content blockquote strong {
  font-size: 1.5rem;
  font-weight: 400;
}
.post-content pre {
  margin: 0;
  overflow: auto;
  border: 0;
  background: inherit;
  position: relative;
}
.post-content :not(pre) code {
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: Monaco, "Source Code Pro", Consolas, Menlo, monospace, sans-serif;
}
/* 重写代码块开始 */
.post-content figure,
.post-content table {
  max-width: 100%;
}
.post-content figure {
  overflow-x: auto;
  margin-bottom: 1em;
}
.post-content figure.highlight {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding-bottom: 0;
  background-color: rgba(238, 238, 238, 0.5);
  box-shadow: 1px 2px 3px rgba(221, 221, 221, 0.8);
  border-radius: 5px;
  overflow: auto;
}
.post-content figure.highlight table {
  padding: 0;
  margin: 0;
  width: auto;
  position: relative;
  overflow: hidden;
  text-overflow: hidden;
}
.post-content figure.highlight pre {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace, Arial, sans-serif;
}
.post-content figure.highlight table::after {
  font-size: 1.2rem;
  height: 2em;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
  padding: 2px 8px;
  font-weight: bold;
  color: #b1b1b1;
  background: rgba(224, 224, 224, 0.5);
  content: 'Code';
}
.post-content figure.highlight .gutter,
.post-content figure.highlight .code {
  padding-top: 2em;
  font-size: 1.2rem;
  background-color: inherit;
}
.post-content figure.highlight .gutter {
  color: #cacaca;
  width: 1.2rem;
  text-align: right;
}
.post-content figure.highlight .code .hljs {
  padding: 0;
  background-color: inherit;
}
.post-content figure.highlight.c table::after {
  content: 'C';
}
.post-content figure.highlight.cpp table::after {
  content: 'CPP';
}
.post-content figure.highlight.diff table::after {
  content: 'Diff';
}
.post-content figure.highlight.css table::after {
  content: 'CSS';
}
.post-content figure.highlight.bash table::after {
  content: 'Bash';
}
.post-content figure.highlight.java table::after {
  content: 'Java';
}
.post-content figure.highlight.javascript table::after {
  content: 'JavaScript';
}
.post-content img.github-emoji {
  width: 2rem;
  height: 2rem;
}
.post-content p > img:not(.github-emoji) {
  display: block;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 6px;
  width: auto;
  max-width: 100%;
  height: auto;
}
/* CopyRight 样式部分来自于 https://imjad.cn/ */
.post-copyright {
  background-color: rgba(238, 238, 238, 0.5);
  box-shadow: 1px 2px 3px rgba(221, 221, 221, 0.8);
  color: #999;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  margin: 15px 0 10px;
  padding: 0 10px;
  border-radius: 2px;
}
.description p {
  font-size: 1.5rem;
}
/* post-tags CSS部分来自 https://www.linpx.com/ */
.post-tags {
  margin: 0;
  padding: 5px 0 15px;
}
.post-tags .post-list a:nth-child(1n) {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  border: 1px solid #fff;
  border-radius: 15px;
  color: rgba(51, 51, 51, 0.78);
}
.post-tags .post-list a {
  margin: 4px 8px 0 0;
  font-size: 13px;
  font-weight: 350;
  display: inline-block;
  padding: 0 12px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  letter-spacing: 0;
}
.post-tags .post-list a:hover {
  color:rgb(51, 51, 51);
}
.post-tags .tags-list a:nth-child(1n) {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  border: 1px solid #fff;
  border-radius: 15px;
  color: rgba(51, 51, 51, 0.78);
}
.post-tags .tags-list a::before {
  content:"# ";
  color: #16a085;
  -webkit-transition: .5s;
          transition: .5s;
}
.post-tags .tags-list a:hover::before {
  color: #fff;
}
.post-tags .tags-list a {
  margin: 4px 8px 0 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 0 12px;
  -webkit-transition: .5s;
          transition: .5s;
  letter-spacing: 0;
}
.post-tags .tags-list a:hover {
  color:rgb(255, 255, 255);
  border: 1px solid #16a085;
  background-color: #16a085;
}
.post-info {
  margin: 0;
  padding: 5px 0 15px;
  margin-bottom: 25px;
}
.post-info a:nth-child(1n) {
  color: #fff;
  border-radius: 15px;
  background: #16a085;
}
.post-info a {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 4px 8px 0 0;
  padding: 1px 15px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  letter-spacing: 0;
}
.post-info a:hover {
  color:#16a085;
  background:#fff0;
}
.post-info .post-info-tag a::before {
  content: '# ';
}
.post-info time {
  cursor: pointer;
}
/* --- */
.arc-t {
  width:33.3%;
  float:left;
  position:relative;
  min-height:1px;
  padding-right:5px;
  padding-left:5px;
}
.arc-tile {
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid rgba(184,197,214,.2);
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.arc-date {
  color: #5f5f5f;
  font-size: 12px;
  position: relative;
}
.tarc-t {
  width:90%;
  position:relative;
  min-height:1px;
  padding-right:5px;
  padding-left:5px;
}
.tarc-tile {
  font-size:14px;
  position: relative;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(184,197,214,.2);
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
